<!DOCTYPE html>
<html>
	<head>
	   <title>Tecnologias Web</title>

		{% load static %}
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/principal.css' %}" rel="stylesheet" type="text/css" />

		<script src="{% static 'js/funciones.js' %}"></script>
		<script src="{% static 'js/librerias/Flotr2-master/flotr2.min.js' %}"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBPMBhuvlJXlZlmcUu7E8gzVbSVsRTJpE&callback=initMap">
		</script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	    <script type="text/javascript">
	      google.charts.load('current', {'packages':['gauge']});
	    </script>
	</head>

	<body onload="valoresIniciales();">

		<!-- Menu -->
		<header>
			<div class="container">
				<nav class="navbar navbar-inverse">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <a class="navbar-brand" href="#">Tecnolog&iacute;as Web</a>
				    </div>
				    <ul class="nav navbar-nav">
				      <li><a href="/portal">Inicio</a></li>
				      <li class="active"><a href="#">Dashboard</a></li>
				      <li><a href="">Contactos</a></li>
				    </ul>
				    <ul class="nav navbar-nav navbar-right">
				      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesi&oacute;n</a></li>
				    </ul>
				  </div>
				</nav>
			</div>
		</header>

		<!-- Pagina Dashboard -->
		<section id="dashboard">
			<div class="container">
			  <div class="row">

			  	<!-- Tabla de agencias -->
			    <div class="col-sm-6" >
			    	<div class="table-responsive inferior" >           
					  <table class="table">
					    <thead>
					      <tr>
					        <th>#</th>
					        <th>Agencia</th>
					        <th>Venta Anterior</th>
					        <th>Venta Actual</th>
					        <th>Venta Estimada</th>					        
					      </tr>
					    </thead>
					    <tbody id="tabla_agencias"></tbody>
					  </table>
					</div>
			    </div>

			    <!-- Google Maps -->
			    <div class="col-sm-6">
			    	<div id='mapa' class='recuadro'></div>
			    </div>
			  </div>

			  <br>
			  <div class="row">
			    <div class="col-sm-6">
			    	<div id='graficas' class='inferior'></div>
			    </div>

			    <div class="col-sm-6">
			    	<div align="center" id='indicadores' class='inferior'></div>
			    </div>			    
			  </div>			 
			</div>
		</section>


		<!-- Pagina Contactos -->
		<section id="contactos" style="display: none">			
		</section>

		<br><br>
		<footer>
			<div class="container">			  
			  <div class="panel panel-default">			    
			    <div class="panel-footer"><strong>Promoci&oacute;n XIX - Paralelo 2</strong></div>
			  </div>
			</div>
		</footer>
	</body>
</html>